<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>畸零空间的定义 - 城市360</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.bootcss.com/materialize/0.97.8/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>    

</head>
<body>
    <div id="preloader"></div>

  <img src="../img/loader.gif" style="display:none">
    
  <div id="user">

    <navigation child="" parent="../index.html" :role="role" :src="src" :name="name" @signout="signout"></navigation>
    
    <login @set="setUser"></login>
    
    <signup></signup>

  </div>

  <!-- 导航栏 -->
  <template id="nav">
    <div>
      <ul id="avataractivity" class="dropdown-content" style="transform:translate(0px,64px)">
        <label for="" id="role">角色：{{roleName}}</label>
      <li class="divider"></li>
      <li>
        <a :href="child+'userinfo.html'" style="text-align: center;">个人信息</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#!" style="text-align: center;color:red;font-weight: bold;" @click="logout">登出</a>
      </li>
    </ul>
    <ul id="dropdown1" class="dropdown-content" style="transform:translate(0px,64px)">
      <li>
        <a :href="child+'defination.html'" style="text-align: center;">定义</a>
      </li>
      <li>
        <a :href="child+'whatis.html'" style="text-align: center;">改造流程</a>
      </li>
      <li>
        <a :href="parent+'#321'" style="text-align: center;">设计导则</a>
      </li>
      <li>
        <a :href="child+'examples.html'" style="text-align: center;">已完成案例</a>
      </li>
    </ul>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container left-align">
      <ul class="center hide-on-med-and-down">
        <li style="height: 64px;">
          <a id="logo-container" href="#" style="width: inherit;height: inherit;">
            <img src="img/logo.png" alt="" style="height: 80%;margin: 5%;">
          </a>
        </li>
        <li>
          <a href="/">首页</a>
        </li>
        <li>
          <a href="#!" class="dropdown-button" data-activates="dropdown1">关于畸零空间</a>
        </li>
        <li class="right">
          <a id="btnSignup" href="#signupscreen" class="btn purple lighten-4" v-show="role===''">注册</a>
        </li>
        <li class="right">
          <a id="btnSignin" href="#loginscreen" class="btn btn-flat" v-show="role===''">登录</a>
        </li>
        <li class="right" style="height: 64px;">
          <!-- TODO -->
          <a id="btnMyproject" :href="child+'project.html?1'" class="btn purple lighten-4" v-show="role">我的项目</a>
        </li> 
        <li class="right" style="height: 64px;">
          <a id="liAvatar" href="#!" class="dropdown-button" style="height: 64px;width:130px;" data-activates="avataractivity" v-show="role"> 
            <img ref="avatar" id="imgAvatar" :src="src" alt="" class="avatar"
              style="border-radius: 50%;margin-top: 7px;margin-bottom: 7px;width: 50px;">
            <label id="pUsername" class="right" style="display:inline;text-align: center;font-weight: bold;color:black;">{{name}}</label>
          </a>
        </li>
      </ul>


      <!-- 侧边栏 -->
      <ul id="nav-mobile" class="side-nav">
        <li style="height: 64px;">
          <a id="logo-container" href="#" style="width: inherit;height: inherit;">
            <img src="img/logo.png" alt="" style="height: 50px;margin: 7px;">
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/">
            <i class="material-icons">home</i>首页</a>
        </li>
        <li>
          <a href="childpage/defination.html" style="color:#26a69a">
            <i class="material-icons">create</i>畸零空间定义</a>
        </li>
        <li>
          <a href="childpage/whatis.html" style="color:#26a69a">
            <i class="material-icons">compare_arrows</i>畸零空间改造流程</a>
        </li>
        <li>
          <a href="#321" style="color:#26a69a">
            <i class="material-icons">highlight</i>畸零空间设计导则</a>
        </li>
        <li>
          <a href="childpage/examples.html" style="color:#26a69a">
            <i class="material-icons">done_all</i>已完成案例</a>
        </li>
        <li class="divider"></li>
        <a id="liAvatarSide" href="#!" class="dropdown-button" style="height: 64px" v-show="role">
          <img ref="avatarSide" id="imgAvatarSide" :src="src" alt="" class="avatar"
            style="border-radius: 50%;margin-top: 7px;margin-bottom: 7px;height: 50px;">
          <label id="pUsernameSide" style="font-weight: bold;color:black;position:absolute;transform: translate(18px,6px)">{{name}}</label>
          <label id="roleSide" for="" style="position:absolute;right:16px;transform: translateY(8px)">角色：{{roleName}}</label>
        </a>
        <li>
          <a id="infoSide" href="childpage/userinfo.html" style="color:#26a69a" v-show="role">
            <i class="material-icons">description</i>个人信息</a>
        </li>
          <li>
            <a id="signoutSide" href="#!" style="color:red" @click="logout" v-show="role">
              <i class="material-icons">highlight_off</i>登出</a>
          </li>
        <li>
          <!-- TODO -->
          <a id="btnMyprojectSide" href="childpage/project.html?1" class="btn purple lighten-4" v-show="role">我的项目</a>
        </li>
          <li>
              <a id="btnSigninSide" href="#loginscreen" class="btn btn-flat" v-show="role===''">登录</a>
            </li>
          <li>
            <a id="btnSignupSide" href="#signupscreen" class="btn purple lighten-4" v-show="role===''">注册</a>
          </li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
</div>
</template>

<template id="loginModal">
  <div class="modal" id="loginscreen" style="max-width: 400px;">
    <div class="modal-content" v-if="refresh">
      <div class="row">
        <div class="col s12 center">
          <h3 style="font-weight: 200;">登录</h3>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 ">
          <i class="material-icons prefix">person</i>
          <input id="email_login" type="text" class="validate" v-model="email">
          <label for="email_login">邮箱</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 ">
          <i class="material-icons prefix">lock</i>
          <input id="password_login" type="password" class="validate" v-model="password">
          <label for="password_login">密码</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <a href="#!" class="btn btn-large btn-block purple lighten-4" @click="signin">登录</a>
        </div>
      </div>
    </div>
  </div>
</template>

<template id="signupModal">
  <div class="modal" id="signupscreen" style="max-width: 600px;">
    <div class="modal-content" v-if="refresh">
      <div class="row">
        <div class="col s12 center ">
          <h3 style="font-weight: 200;">注册新用户</h3>
        </div>
        <div class="input-field  col s12">
          <i class="material-icons prefix">person</i>
          <input id="username" type="text" :class="['validate', {'invalid': invalidth===1}]" v-model="name">
          <label for="username">用户名</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">mail</i>
          <input ref="mail" id="mailaddr" type="email" :class="['validate', {'invalid': invalidth===2}]" v-model="email">
          <label for="mailaddr">邮箱</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="password" :class="['validate', {'invalid': invalidth===3||invalidth===5}]" v-model="password">
          <label for="password">密码</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">repeat</i>
          <input id="password-re" type="password" :class="['validate', {'invalid': invalidth===4||invalidth===5}]" v-model="passwordre">
          <label for="password-re">重复密码</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="telnum" type="text" class="validate" v-model="tel">
          <label for="telnum">您的联系方式</label>
        </div>
        <div class="col s12">
          <label for="tabs">请选择您的身份</label>
        </div>
        <div class="col s12">
          <ul class="tabs left-align" style="background: transparent;">
            <li class="tab col s2"><a class="" href="#signupDesigner" @click="job=1">设计师</a></li>
            <li class="tab col s2"><a class="" href="#signupGov" @click="job=2">政府机构</a></li>
            <li class="tab col s2"><a class="" href="#signupCmt" @click="job=3">居委会</a></li>
            <li class="tab col s2"><a class="" href="#signupCtz" @click="job=4">居民</a></li>
            <li class="tab col s2"><a class="" href="#signupWrk" @click="job=5">施工方</a></li>
          </ul>
        </div>
        <div class="col s12">&nbsp</div>
        <div class="row">
          <div class="col s12">
            <a href="#!" class="btn btn-large btn-block purple lighten-4" @click="signup">注册</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


  <div class="modal" id="infoscreen" style="width: 200px;">
    <div class="modal-content">
      <p id="infotext">上传成功!</p>
      <a href="#!" class="btn purple lighten-4 right" style="margin-bottom: 20px;" onclick="closeAllModal()">确定</a>
    </div>
  </div>
    
    <div class="section" id="index-banner2" style="background-color: teal;">
            <div class="container">
                <div class="row">
                        <div class="col s12">
                            <h1 class="header white-text" >畸零空间的定义</h1>
                        </div>
                </div>
            </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="header teal-text" >什么是畸零空间</h3>
                <img src="img/畸零空间定义-400x560.png" alt="">
                <p>城市空间结构中相对不规则、零散的、细碎的、畸形的空间。
                    <br>楼与楼之间、社区与社区之间，不同的形式种类作用的建筑群中间会不可避免地产生一些空间上的浪费。</p>
                <p>BEFORE-畸零空间改造前</p>
                <img src="img/2-畸零空间改造前.jpg" alt="">
            </div>
        </div>
    </div>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/materialize/0.97.8/js/materialize.min.js"></script>  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
  <script src="js/sha1.js"></script>
  <script src="js/init.js"></script>
  <script>
    (function ($) {
        "use strict";
      $('.button-collapse').sideNav();
        $('.modal').modal();
        var $main_window = $(window);
        /*====================================
            preloader js
          ======================================*/
        $main_window.on('load', function () {
            $('#preloader').fadeOut('slow');
        });
    })(jQuery);
  </script>
</body>
</html>
