<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>用户详情 - 城市360</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Custom.css -->
    <link rel="stylesheet" href="css/style_example.css">
</head>
<body>
    <div id="preloader"></div>    
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content" style="transform:translate(0px,64px)">
      <li>
        <a href="defination.html" style="text-align: center;">定义</a>
      </li>
      <li>
        <a href="whatis.html" style="text-align: center;">改造流程</a>
      </li>
      <li>
          <a href="../index.html#321" style="text-align: center;">设计导则</a>
        </li>
      <li>
        <a href="examples.html" style="text-align: center;">已完成案例</a>
      </li>
    </ul>

    <!-- 顶部导航栏 -->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container left-align">
      <ul class="center hide-on-med-and-down">
        <li style="height: 64px;">
          <a id="logo-container" href="#" style="width: inherit;height: inherit;">
            <img src="img/logo.png" alt="" style="height: 80%;margin: 5%;">
          </a>
        </li>
        <li>
          <a href="/">首页</a>
        </li>
        <li>
          <a href="#!" class="dropdown-button" data-activates="dropdown1">关于畸零空间</a>
        </li>
      </ul>


      <!-- 侧边栏 -->
      <ul id="nav-mobile" class="side-nav">
        <li style="height: 64px;">
          <a id="logo-container" href="#" style="width: inherit;height: inherit;">
            <img src="img/logo.png" alt="" style="height: 50px;margin: 7px;">
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/">
            <i class="material-icons">home</i>首页</a>
        </li>
        <li>
          <a href="http://urp360.org/wordpress/" style="color:#26a69a">
            <i class="material-icons">create</i>畸零空间定义</a>
        </li>
        <li>
          <a href="http://urp360.org/wordpress/?page_id=11671" style="color:#26a69a">
            <i class="material-icons">compare_arrows</i>畸零空间改造流程</a>
        </li>
        <li>
            <a href="../index.html#321" style="color:#26a69a">
              <i class="material-icons">highlight</i>畸零空间设计导则</a>
          </li>
        <li>
          <a href="http://urp360.org/wordpress/?page_id=11693" style="color:#26a69a">
            <i class="material-icons">done_all</i>已完成案例</a>
        </li>
        <li class="divider"></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
    
  <div class="section purple lighten-4" id="index-banner2">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h1 class="header white-text">用户信息</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="infoscreen" style="width: 200px;">
      <div class="modal-content">
        <p id="infotext">上传成功!</p>
        <a href="#!" class="btn purple lighten-4 right" style="margin-bottom: 20px;" onclick="closeAllModal()">确定</a>
      </div>
    </div>

<section class="ws-section-spacing bg-gray" id="userInfo">
    <div id="uploadmodal" class="modal" style="max-width: 600px">
      <div class="modal-content">
          <div class="row">
              <div class="col s12">
              <h3 class="header main-color">设置新的头像</h3>
              </div>
            </div>
            <div class="row center centered z-depth-2">
                <br>
                <div class="col s12">
                  <form action="#">
                    <div class="file-field input-field">
                      <div class="btn purple lighten-4">
                        <span>上传图片</span>
                        <form id="formImage" enctype="multipart/form-data">
                          <input id="fileImage" accept="image/*" type="file" name="file" multiple>
                        </form>
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="上传新的头像">
                      </div>
                    </div>
                  </form>
                </div>
                <br>
                <br>
                <img id="preview" src="" style="display:none;max-width: 95%;"/>
                <br>
            </div>
            <div class="row">
                <div class="col s12">
                    <a href="#" class="btn purple lighten-4 right" style="margin-right: 15px;"
                    @click="uploadavatar">提交</a>
                </div>
              </div>
      </div>
    </div>
    <div id="passwordmodal" class="modal" style="max-width: 500px">
        <div id="oldpassword" class="modal-content" v-show="oldpassword">
          <div class="row">
            <div class="col s12">
              <h3 class="header main-color">验证原来的密码</h3>
            </div>
            <div>
              <br>
              <br>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input id="password" type="password" class="validate" v-model="password_ver">
              <label for="password">密码</label>
            </div>
            <div class="col s12">
              <a href="#" class="btn purple lighten-4 right" @click="shownewpassword">下一步</a>
            </div>
          </div>
        </div>
        <div id="newpassword" class="modal-content" v-show="newpassword">
          <div class="row">
            <div class="col s12">
              <h3 class="header main-color">设置新的密码</h3>
            </div>
            <div>
                <br>
                <br>
              </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input id="password" type="password" class="validate" v-model="password">
              <label for="password">新的密码</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">repeat</i>
              <input id="password-re" type="password" class="validate" v-model="password_copy">
              <label for="password-re">重复密码</label>
            </div>
            <div class="col s12">
              <a href="#!" class="btn purple lighten-4 right" @click="submit">确认</a>
            </div>
          </div>
        </div>
      </div>
    <div class="container z-depth-2" style="margin-top: 20px;padding:30px">
      <div class="row">
      <div class="col s11">
          <h3 class="left" style="font-size:30px;padding:20px">基本信息</h3>
        </div>
        <div class="col s1">
          <a href="#!" class="right" style="color:black" @click="saveInfo" v-show="ifModified"><i class="material-icons prefix">save</i></a>
      </div>
      <div class="col m3 s6" style="min-height: 250px" @mouseover="ifHover0=true" @mouseout="ifHover0=false">
        <img :src="avatar" id="avatar" alt="" style="width:80%;vertical-align: middle;border-radius: 50%;overflow: hidden;margin-left:15px;margin-top: 15px">
        <a href="#uploadmodal" class="right" style="transform: translate(-45px,0px);color:black" v-show="ifHover0"><i class="material-icons prefix">mode_edit</i></a>
      </div>
      <div class="input-field col s6 m4" @mouseover="ifHover1=true" @mouseout="ifHover1=false">
        <i class="material-icons prefix">person</i>
        <input id="nickname" type="text" v-model="nickname_mod" disabled>
        <label for="nickname" id="nicknamelabel" style="color:black">昵称：{{nickname}}</label>
        <a href="#!" class="right" style="transform: translate(-45px,0px);color:black" v-show="ifHover1" @click="editInfo"><i class="material-icons prefix">mode_edit</i></a>
      </div>
      <div class="input-field col s6 m5">
        <i class="material-icons prefix">mail</i>
        <input id="mail" type="text" disabled>
        <label for="mail" style="color:black">邮箱：{{email}}</label>
      </div>
      <div class="input-field col s6 m4">
        <i class="material-icons prefix">work</i>
        <input id="job" type="text" disabled>
        <label for="job" style="color:black">用户类型：{{type}}</label>
      </div>
      <div class="input-field col s6 m5" @mouseover="ifHover2=true" @mouseout="ifHover2=false">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="text" disabled>
          <label for="password" style="color:black">密码：********</label>
          <a href="#passwordmodal" class="right" style="transform: translate(-45px,0px);color:black" v-show="ifHover2" @click="resetPassword"><i class="material-icons prefix">mode_edit</i></a>
        </div>
      <div class="input-field col s6 m4" @mouseover="ifHover3=true" @mouseout="ifHover3=false">
          <i class="material-icons prefix">phone</i>
          <input id="tel" type="text" v-model="tel_mod" disabled>
          <label for="tel" id="tellabel" style="color:black">联系方式：{{tel}}</label>
          <a href="#!" class="right" style="transform: translate(-45px,0px);color:black" v-show="ifHover3" @click="editInfo"><i class="material-icons prefix">mode_edit</i></a>
        </div>
      <div class="input-field col s6 m5" @mouseover="ifHover4=true" @mouseout="ifHover4=false">
          <i class="material-icons prefix">place</i>
          <input id="address" type="text" v-model="address_mod" disabled>
          <label for="address" id="addresslabel" style="color:black">地址：{{address}}</label>
          <a href="#!" class="right" style="transform: translate(-45px,0px);color:black" v-show="ifHover4" @click="editInfo"><i class="material-icons prefix">mode_edit</i></a>
        </div>
        </div>
    </div>
</section>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
<script src="js/decodeDesign.js"></script>
<script src="../js/sha1.js"></script>
<script src="js/userinfo.js"></script>
<script>
    (function ($) {
        "use strict";
        var $main_window = $(window);
        console.log(123);
        vm.init();
        /*====================================
            preloader js
          ======================================*/
        $main_window.on('load', function () {
            $('#preloader').fadeOut('slow');
            $('#avatar').css('height',$('#avatar').width());
        });
        $main_window.on('resize',function(){  
          $('#avatar').css('height',$('#avatar').width());    //监听窗口改变以自适应头像大小
        });
    })(jQuery);
</script>
</body>
</html>
